Введем бинарные переменные $x_{gwdtps} \in \{0,1\}$, где:

1. g -- group {1,2}
2. w -- week {1,2}
3. d -- day {1,2,3,4,5,6}
4. t -- time {1, 2, 3, 4, 5, 6, 7, 8}
5. p -- professor {1, 2, 3, 4, 5}
6. s -- subject {1, 2}

То есть $x_{124122} = 1$ означает, что у первой группы, во вторую неделю, в четверг, первой парой ведет второй преподаватель (Петров), его второй предмет (сложность квантовых алгоритмов). Запишем ограничения в терминах мат программирования:
1. Предпочения преподавателей по дням в которые они работать не могут:
   $$ x_{gw3t1s} = 0, \,\,\, \forall g, w, t, s$$
   $$ x_{gw1t2s} = 0, \,\,\, \forall g, w, t, s$$
   $$ x_{gw6t3s} = 0, \,\,\, \forall g, w, t, s$$
   $$ x_{gw2t4s} = 0, \,\,\, \forall g, w, t, s$$
   $$ x_{gw2t5s} = 0, \,\,\, \forall g, w, t, s$$

2. Для каждой группы и каждого предмента должно быть выделено 4 часа за две недели:

   $$\sum\limits_{w,d,t,p} x_{gwdtps}= 4, \,\,\, \forall g, s$$

3. У группы не более одной пары в час:

   $$ \sum\limits_{p,s} x_{gwdtps} \leq 1, \,\,\, \forall g, w, d, t$$

4. У преподавателя не более одной пары в час:

   $$ \sum\limits_{g,s} x_{gwdtps} \leq 1, \,\,\, \forall p, w, d, t$$

5. У группы не более двух пар в день по предмету:

   $$ \sum\limits_{t, p} x_{gwdtps} \leq 2, \,\,\, \forall g, w, d,s$$

6. У группы не более 6 пар в день:

   $$ \sum\limits_{t, p, s} x_{gwdtps} \leq 6, \,\,\, \forall w, d, g$$

7. Не более 20 часов в неделю для преподавателя:

   $$ \sum\limits_{d,t,g,s} x_{gwdtps} \leq 20, \,\,\, \forall p,w$$


Теперь запишем вклад в целевую функцию для каждого ограничения:

1. Влады для целевой функции примут вид, соответственно:
   $$ A_{11}x_{gw3t1s}^2, \,\,\, \forall g, w, t, s$$
   $$ A_{12}x_{gw1t2s}^2, \,\,\, \forall g, w, t, s$$
   $$ A_{13}x_{gw6t3s}^2, \,\,\, \forall g, w, t, s$$
   $$ A_{14}x_{gw2t4s}^2, \,\,\, \forall g, w, t, s$$
   $$ A_{15}x_{gw2t5s}^2, \,\,\, \forall g, w, t, s$$
   где $A_{1j}$ -- некоторый вес вклада для первого ограчения и для $j$ ого преподавателя

2.  Для второго ограничения имеем:

    $$A_{2}(\sum\limits_{w,d,t,p} x_{gwdtps} - 4)^2, \,\,\, \forall g, s$$

    где $A_{2}$ -- вес второго требования (его можно положить одинаковым для всех вторых требований, так как они равнозначны)

3.  Для данного неравенства можно не вводить дополнительных переменных, а записать функцию следующим образом:

    $$ A_{3}((\sum\limits_{p,s} x_{gwdtps})^2 - \sum\limits_{p,s} x_{gwdtps}^2), \,\,\, \forall g, w, d, t$$

    нетрудно проверить, что данная функция неотрицательная и равна нулю, тогда и только тогда, когда среди $x_{gwdtps}$ не более одной единицы. $A_{3}$ -- вес третьего ограничения (его можно положить одинаковым для всех вторых требований, так как они равнозначны).

4. Для четвертого требования, все аналогично третьему:

   $$ A_{4}((\sum\limits_{g,s} x_{gwdtps})^2 - \sum\limits_{g,s} x_{gwdtps}^2), \,\,\, \forall p, w, d, t$$

5. Для пятого требования, чтобы преобразовать его к равенству, введем фиктивные переменные $y_{1gwds}$ и $y_{2gwds}$, тогда имеем:
    
   $$ A_{5}(\sum\limits_{t, p} x_{gwdtps} +  y_{1gwds} + y_{2gwds} - 2)^2, \,\,\, \forall g, w, d,s$$

   Функция неотрицательна. Фиктивные переменные могут принимать значения $y_{1gwds}$ и $y_{2gwds}$ равные: $\{(0,0)\}$ или $\{(1,0), (0,1)\}$ или $\{(1,1)\}$. И, благодаря данным переменным, функция равна нулю, тогда и только тогда, когда при данных значениях фиктивных переменных сумма целевых переменных равна $2$, $1$ и $0$ соответственно.

6. Аналогично вводим фиктивные переменные $z_{1wdg}, z_{2wdg}, z_{3wdg}$ для шестого ограничения и имеем функцию

   $$ A_{6}(\sum\limits_{t, p, s} x_{gwdtps} + z_{1wdg} + 2z_{2wdg} + 3z_{3wdg} - 6)^2, \,\,\, \forall w, d, g$$

   Фиктивные переменные здесь работают аналогично пятому требованию.

7. Для седьмого аналогично двум предыдущим вводим переменные $v_{1pw}, v_{2pw}, v_{3pw}, v_{4pw}, v_{5pw}$:

   $$ A_{7}(\sum\limits_{d,t,g,s} x_{gwdtps} + v_{1pw} + 2v_{2pw} + 2v_{3pw} + 5v_{4pw} + 10v_{5pw} -  20)^2, \,\,\, \forall p,w$$

Тогда с учетом вышесказанного, целевая функция имеет вид:

$$J(x, y, z, v) = A_{11}\sum\limits_{g, w, t, s} x_{gw3t1s}^2 + A_{12}\sum\limits_{g, w, t, s}x_{gw1t2s}^2 +  A_{13}\sum\limits_{g, w, t, s}x_{gw6t3s}^2 + A_{14}\sum\limits_{g, w, t, s}x_{gw2t4s}^2 + A_{15}\sum\limits_{g, w, t, s}x_{gw2t5s}^2 + $$
$$+ A_{2}\sum\limits_{g, s}(\sum\limits_{w,d,t,p} x_{gwdtps} - 4)^2 + A_{3}\sum\limits_{g, w, d, t}((\sum\limits_{p,s} x_{gwdtps})^2 - \sum\limits_{p,s} x_{gwdtps}^2) + A_{4}\sum\limits_{ p, w, d, t}((\sum\limits_{g,s} x_{gwdtps})^2 - \sum\limits_{g,s} x_{gwdtps}^2) +$$
$$+ A_{5}\sum\limits_{g, w, d, s}(\sum\limits_{t, p} x_{gwdtps} +  y_{1gwds} + y_{2gwds} - 2)^2  + A_{6}\sum\limits_{w, d, g}(\sum\limits_{t, p, s} x_{gwdtps} + z_{1wdg} + 2z_{2wdg} + 3z_{3wdg} - 6)^2 + $$
$$ + A_{7}\sum\limits_{p,w}(\sum\limits_{d,t,g,s} x_{gwdtps} + v_{1pw} + 2v_{2pw} + 2v_{3pw} + 5v_{4pw} + 10v_{5pw} -  20)^2$$

Данная целевая функция неотрицательна и принимает значение 0, есть глобальный минимум, тогда и только тогда, когда целевые переменные удовлетворяют всем ограничениям. Следовательно найдя точку минимума данной функции мы отыщем решение.

Для данной функции соответствующая квадратичная форма для QUBO формулировки имеет вид:


$$Q(x_{g_{1}w_{1}d_{1}t_{1}p_{1}s_{1}}, x_{g_{2}w_{2}d_{2}t_{2}p_{2}s_{2}}) = \delta_{g_{1}g_{2}}\delta_{w_{1}w_{2}}\delta_{d_{1}d_{2}}\delta_{t_{1}t_{2}}\delta_{p_{1}p_{2}}\delta_{s_{1}s_{2}}(-7 A_2 - 3 A_5 - 11 A_6 - 39 A_7 + A_{11} \delta_{3d_{1}} \delta_{1p_{1}} + A_{12} \delta_{1d_{1}} \delta_{2p_{1}} + A_{13} \delta_{6d_{1}} \delta_{3p_{1}} + A_{14} \delta_{2d_{1}} \delta_{4p_{1}} + A_{15} \delta_{2d_{1}} \delta_{5p_{1}}) +
$$
$$+ (1 - \delta_{g_{1}g_{2}}\delta_{w_{1}w_{2}}\delta_{d_{1}d_{2}}\delta_{t_{1}t_{2}}\delta_{p_{1}p_{2}}\delta_{s_{1}s_{2}})\delta_{w_{1}w_{2}}\delta_{d_{1}d_{2}}\delta_{t_{1}t_{2}}(A_{3}\delta_{g_{1}g_{2}} + A_{4}\delta_{p_{1}p_{2}})$$

$$Q(y_{k_{1}g_{1}w_{1}d_{1}s_{1}}, y_{k_{2}g_{2}w_{2}d_{2}s_{2}}) = \delta_{k_{1}k_{2}}\delta_{g_{1}g_{2}}\delta_{d_{1}d_{2}}\delta_{s_{1}s_{2}}(-3)A_{5} + (1 - \delta_{k_{1}k_{2}}\delta_{g_{1}g_{2}}\delta_{d_{1}d_{2}}\delta_{s_{1}s_{2}}) \delta_{g_{1}g_{2}}\delta_{w_{1}w_{2}}\delta_{d_{1}d_{2}}\delta_{s_{1}s_{2}}A_{5}$$

$$Q(z_{k_{1}w_{1}d_{1}g_{1}}, z_{k_{2}w_{2}d_{2}g_{2}}) = \delta_{k_{1}k_{2}}\delta_{w_{1}w_{2}}\delta_{d_{1}d_{2}}\delta_{g_{1}g_{2}}(\delta_{1k_{1}} (-11) + \delta_{2k_{1}} (-20) + \delta_{3k_{1}}(-27))A_{6} +$$
$$+ (1 - \delta_{k_{1}k_{2}}\delta_{w_{1}w_{2}}\delta_{d_{1}d_{2}}\delta_{g_{1}g_{2}})(\delta_{1k_{1}}\delta_{2k_{2}} 2 + \delta_{1k_{1}}\delta_{3k_{2}} 3 + \delta_{2k_{1}}\delta_{3k_{2}}6)A_{6}$$

$$Q(v_{k_{1}p_{1}w_{1}}, v_{k_{2}p_{2}w_{2}}) = \delta_{k_{1}k_{2}}\delta_{p_{1}p_{2}}\delta_{w_{1}w_{2}}(\delta_{1k_{1}} (-39) + \delta_{2k_{1}} (-76)) + \delta_{3k_{1}}(-76) + \delta_{4k_{1}} (-175) + \delta_{5k_{1}} (-300))A_{7} + $$
$$ + (1 - \delta_{k_{1}k_{2}}\delta_{p_{1}p_{2}}\delta_{w_{1}w_{2}})(\delta_{1k_{1}}\delta_{2k_{2}}2 + \delta_{1k_{1}}\delta_{3k_{2}} 2 + \delta_{1k_{1}}\delta_{4k_{2}} 5 + \delta_{1k_{1}}\delta_{5k_{2}} 10 + \delta_{2k_{1}}\delta_{3k_{2}} 4 + \delta_{2k_{1}}\delta_{4k_{2}} 10 + \delta_{2k_{1}}\delta_{5k_{2}} 20 + \delta_{3k_{1}}\delta_{4k_{2}} 10 + \delta_{3k_{1}}\delta_{5k_{2}} 20 + \delta_{4k_{1}}\delta_{5k_{2}} 100)A_{7}$$


$$ Q(x_{g_{1}w_{1}d_{1}t_{1}p_{1}s_{1}}, y_{k_{2}w_{2}d_{2}g_{2}s_{2}}) =  Q(y_{k_{2}w_{2}d_{2}g_{2}s_{2}}, x_{g_{1}w_{1}d_{1}t_{1}p_{1}s_{1}}) = \delta_{g_{1}g_{2}}\delta_{w_{1}w_{2}}\delta_{d_{1}d_{2}}\delta_{s_{1}s_{2}}A_{5}$$

$$Q(x_{g_{1}w_{1}d_{1}t_{1}p_{1}s_{1}}, z_{k_{2}w_{2}d_{2}g_{2}s_{2}}) = Q(z_{k_{2}w_{2}d_{2}g_{2}s_{2}}, x_{g_{1}w_{1}d_{1}t_{1}p_{1}s_{1}}) = \delta_{p_{1}p_{2}}\delta_{w_{1}w_{2}}(\delta_{1k_{2}} + \delta_{2k_{2}} 2 + \delta_{3k_{2}}6)A_{6}$$

$$Q(x_{g_{1}w_{1}d_{1}t_{1}p_{1}s_{1}}, v_{k_{2}p_{2}w_{2}}) = Q(v_{k_{2}p_{2}w_{2}}, x_{g_{1}w_{1}d_{1}t_{1}p_{1}s_{1}}) = \delta_{p_{1}p_{2}}\delta_{w_{1}w_{2}}(\delta_{1k_{2}} + \delta_{2k_{2}}2 + \delta_{3k_{2}}2 + \delta_{4k_{2}}5 + \delta_{5k_{2}}10) A_{7}$$

In [1]:
def delta(x, y): #дельта символ кронекера
    return x == y

In [2]:
K = 2 #количество групп
W = 2 #количество недель
D = 6 #количество дней
T = 8 #временные слоты
N = 5 #количество преподавателей
M = 2 #количество предметов (для каждого из преподавателей)

#веса
A_11 = 1
A_12 = 1
A_13 = 1
A_14 = 1
A_15 = 1
A_2 = 1
A_3 = 2 ** 12 # без данных требований расписание не имеет смысла
A_4 = 2 ** 12 #
A_5 = 1
A_6 = 1
A_7 = 1

In [3]:
from itertools import product

Q = {}  # словарь, хранящий нашу форму в формате (x, y): коэффициент при xy

In [4]:
# Заполняем целевые элементы с целевыми x
for (g_1, w_1, d_1, t_1, p_1, s_1), (g_2, w_2, d_2, t_2, p_2, s_2) in product(
    product(range(K), range(W), range(D), range(T), range(N), range(M)),
    repeat=2
):
    x_1 = f'x_{g_1}{w_1}{d_1}{t_1}{p_1}{s_1}'  # перебираем первую переменную
    x_2 = f'x_{g_2}{w_2}{d_2}{t_2}{p_2}{s_2}'  # перебираем вторую переменную

    val = delta(g_1, g_2) * delta(w_1, w_2) * delta(d_1, d_2) * delta(t_1, t_2) * delta(p_1, p_2) * delta(s_1, s_2) * (
        -7 * A_2 - 3 * A_5 - 11 * A_6 - 39 * A_7 + 
        A_11 * delta(3, d_1) * delta(1, p_1) + 
        A_12 * delta(1, d_1) * delta(2, p_1) + 
        A_13 * delta(6, d_1) * delta(3, p_1) + 
        A_14 * delta(2, d_1) * delta(4, p_1) + 
        A_15 * delta(2, d_1) * delta(5, p_1)
    ) + (
        1 - delta(g_1, g_2) * delta(w_1, w_2) * delta(d_1, d_2) * delta(t_1, t_2) * delta(p_1, p_2) * delta(s_1, s_2)
    ) * delta(w_1, w_2) * delta(d_1, d_2) * delta(t_1, t_2) * (
        A_3 * delta(g_1, g_2) + A_4 * delta(p_1, p_2)
    )
    
    if val != 0:
        if x_1 > x_2:
            Q[(x_1, x_2)] = val
        else:
            Q[(x_2, x_1)] = val

In [5]:
# Заполняем фиктивые y с фиктивными y
for (k_1, g_1, w_1, d_1, s_1), (k_2, g_2, w_2, d_2, s_2) in product(
    product(range(2), range(K), range(W), range(D), range(M)),
    repeat=2
):
    y_1 = f'y_{k_1}{g_1}{w_1}{d_1}{s_1}'  # перебираем первую переменную
    y_2 = f'y_{k_2}{g_2}{w_2}{d_2}{s_2}'  # перебираем вторую переменную

    val = delta(k_1, k_2) * delta(g_1, g_2) * delta(d_1, d_2) * delta(s_1, s_2) * (-3) * A_5 + \
          (1 - delta(k_1, k_2) * delta(g_1, g_2) * delta(d_1, d_2) * delta(s_1, s_2)) * \
          delta(g_1, g_2) * delta(w_1, w_2) * delta(d_1, d_2) * delta(s_1, s_2) * A_5

    if val != 0:
        if y_1 > y_2:
            Q[(y_1, y_2)] = val
        else:
            Q[(y_2, y_1)] = val

In [6]:
# Заполняем фиктивные z с фиктивными z
for (k_1, w_1, d_1, g_1), (k_2, w_2, d_2, g_2) in product(
    product(range(3), range(W), range(D), range(K)),
    repeat=2
):
    z_1 = f'z_{k_1}{w_1}{d_1}{g_1}'  # перебираем первую переменную
    z_2 = f'z_{k_2}{w_2}{d_2}{g_2}'  # перебираем вторую переменную

    val = delta(k_1, k_2) * delta(w_1, w_2) * delta(d_1, d_2) * delta(g_1, g_2) * (
        delta(1, k_1) * (-11) + delta(2, k_1) * (-20) + delta(3, k_1) * (-27)
    ) * A_6 + (
        1 - delta(k_1, k_2) * delta(w_1, w_2) * delta(d_1, d_2) * delta(g_1, g_2)
    ) * (
        delta(1, k_1) * delta(2, k_2) * 2 + delta(1, k_1) * delta(3, k_2) * 3 + delta(2, k_1) * delta(3, k_2) * 6
    ) * A_6

    if val != 0:
        if z_1 > z_2:
            Q[(z_1, z_2)] = val
        else:
            Q[(z_2, z_1)] = val

In [7]:
# Заполняем фиктивные v с фиктивными v
for (k_1, p_1, w_1), (k_2, p_2, w_2) in product(
    product(range(5), range(N), range(W)),
    repeat=2
):
    v_1 = f'v_{k_1}{p_1}{w_1}'  # перебираем первую переменную
    v_2 = f'v_{k_2}{p_2}{w_2}'  # перебираем вторую переменную

    val = delta(k_1, k_2) * delta(p_1, p_2) * delta(w_1, w_2) * (
        delta(1, k_1) * (-39) + delta(2, k_1) * (-76) + delta(3, k_1) * (-76) + delta(4, k_1) * (-175) + delta(5, k_1) * (-300)
    ) * A_7 + (
        1 - delta(k_1, k_2) * delta(p_1, p_2) * delta(w_1, w_2)
    ) * (
        delta(1, k_1) * delta(2, k_2) * 2 + delta(1, k_1) * delta(3, k_2) * 2 + delta(1, k_1) * delta(4, k_2) * 5 + delta(1, k_1) * delta(5, k_2) * 10 +
        delta(2, k_1) * delta(3, k_2) * 4 + delta(2, k_1) * delta(4, k_2) * 10 + delta(2, k_1) * delta(5, k_2) * 20 +
        delta(3, k_1) * delta(4, k_2) * 10 + delta(1, k_1) * delta(5, k_2) * 20 + delta(4, k_1) * delta(5, k_2) * 100
    ) * A_7

    if val != 0:
        if v_1 > v_2:
            Q[(v_1, v_2)] = val
        else:
            Q[(v_2, v_1)] = val

In [8]:
# Заполняем целевые элементы x с фиктвными y
for (g_1, w_1, d_1, t_1, p_1, s_1), (k_2, w_2, d_2, g_2, s_2) in product(
    product(range(K), range(W), range(D), range(T), range(N), range(M)),
    product(range(2), range(W), range(D), range(K), range(M))
):
    x_1 = f'x_{g_1}{w_1}{d_1}{t_1}{p_1}{s_1}'  # перебираем первую переменную
    y_2 = f'y_{k_2}{w_2}{d_2}{g_2}{s_2}'  # перебираем вторую переменную

    val = delta(g_1, g_2) * delta(w_1, w_2) * delta(d_1, d_2) * delta(s_1, s_2) * A_5

    if val != 0:
        Q[(x_1, y_2)] = val

In [9]:
# Заполняем целевые элементы x с фиктивными z
for (g_1, w_1, d_1, t_1, p_1, s_1), (k_2, w_2, d_2, g_2, s_2) in product(
    product(range(K), range(W), range(D), range(T), range(N), range(M)),
    product(range(3), range(W), range(D), range(K), range(M))
):
    x_1 = f'x_{g_1}{w_1}{d_1}{t_1}{p_1}{s_1}'  # перебираем первую переменную
    z_2 = f'z_{k_2}{w_2}{d_2}{g_2}{s_2}'  # перебираем вторую переменную

    val = delta(p_1, p_2) * delta(w_1, w_2) * (
        delta(1, k_2) + delta(2, k_2) * 2 + delta(3, k_2) * 6
    ) * A_6

    if val != 0:
        Q[(x_1, z_2)] = val

In [10]:
# Заполняем целевые элементы x с фиктивными v
for (g_1, w_1, d_1, t_1, p_1, s_1), (k_2, p_2, w_2) in product(
    product(range(K), range(W), range(D), range(T), range(N), range(M)),
    product(range(5), range(N), range(W))
):
    x_1 = f'x_{g_1}{w_1}{d_1}{t_1}{p_1}{s_1}'  # перебираем первую переменную
    v_2 = f'v_{k_2}{p_2}{w_2}'  # перебираем вторую переменную

    val = delta(p_1, p_2) * delta(w_1, w_2) * (
        delta(1, k_2) + delta(2, k_2) * 2 + delta(3, k_2) * 2 + delta(4, k_2) * 5 + delta(5, k_2) * 10
    ) * A_7

    if val != 0:
        Q[(x_1, v_2)] = val

In [11]:
import neal #создаем модель изинга из QUBO задачи
sampler = neal.SimulatedAnnealingSampler()


h = {0: 0, 1: 1}
sampleset = sampler.sample_qubo(Q) #ответ

In [12]:
import pandas as pd

df = sampleset.to_pandas_dataframe()

In [13]:
df

,v_100,v_101,v_110,v_111,v_120,v_121,v_130,v_131,v_140,v_141,...,z_21410,z_21411,z_2150,z_21500,z_21501,z_2151,z_21510,z_21511,energy,num_occurrences
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,-13053.0,1

In [14]:
for col in df: #готовое расписание
    if col[0] == 'x' and df[col][0] == 1:
        print(col, df[col])

x_000001 0    1
Name: x_000001, dtype: int8
x_000100 0    1
Name: x_000100, dtype: int8
x_000220 0    1
Name: x_000220, dtype: int8
x_000330 0    1
Name: x_000330, dtype: int8
x_000400 0    1
Name: x_000400, dtype: int8
x_000510 0    1
Name: x_000510, dtype: int8
x_000620 0    1
Name: x_000620, dtype: int8
x_000720 0    1
Name: x_000720, dtype: int8
x_001020 0    1
Name: x_001020, dtype: int8
x_001130 0    1
Name: x_001130, dtype: int8
x_001220 0    1
Name: x_001220, dtype: int8
x_001321 0    1
Name: x_001321, dtype: int8
x_001431 0    1
Name: x_001431, dtype: int8
x_001511 0    1
Name: x_001511, dtype: int8
x_001621 0    1
Name: x_001621, dtype: int8
x_001700 0    1
Name: x_001700, dtype: int8
x_002021 0    1
Name: x_002021, dtype: int8
x_002130 0    1
Name: x_002130, dtype: int8
x_002210 0    1
Name: x_002210, dtype: int8
x_002300 0    1
Name: x_002300, dtype: int8
x_002421 0    1
Name: x_002421, dtype: int8
x_002520 0    1
Name: x_002520, dtype: int8
x_002621 0    1
Name: x_002621, dtype: int8
x_002721 0    1
Name: x_002721, dtype: int8
x_003021 0    1
Name: x_003021, dtype: int8
x_003111 0    1
Name: x_003111, dtype: int8
x_003210 0    1
Name: x_003210, dtype: int8
x_003301 0    1
Name: x_003301, dtype: int8
x_003410 0    1
Name: x_003410, dtype: int8
x_003500 0    1
Name: x_003500, dtype: int8
x_003611 0    1
Name: x_003611, dtype: int8
x_003700 0    1
Name: x_003700, dtype: int8
x_004021 0    1
Name: x_004021, dtype: int8
x_004120 0    1
Name: x_004120, dtype: int8
x_004220 0    1
Name: x_004220, dtype: int8
x_004330 0    1
Name: x_004330, dtype: int8
x_004400 0    1
Name: x_004400, dtype: int8
x_004501 0    1
Name: x_004501, dtype: int8
x_004600 0    1
Name: x_004600, dtype: int8
x_004730 0    1
Name: x_004730, dtype: int8
x_005011 0    1
Name: x_005011, dtype: int8
x_005131 0    1
Name: x_005131, dtype: int8
x_005210 0    1
Name: x_005210, dtype: int8
x_005300 0    1
Name: x_005300, dtype: int8
x_005411 0    1
Name: x_005411, dtype: int8
x_005530 0    1
Name: x_005530, dtype: int8
x_005600 0    1
Name: x_005600, dtype: int8
x_005710 0    1
Name: x_005710, dtype: int8
x_010031 0    1
Name: x_010031, dtype: int8
x_010120 0    1
Name: x_010120, dtype: int8
x_010211 0    1
Name: x_010211, dtype: int8
x_010311 0    1
Name: x_010311, dtype: int8
x_010411 0    1
Name: x_010411, dtype: int8
x_010501 0    1
Name: x_010501, dtype: int8
x_010641 0    1
Name: x_010641, dtype: int8
x_010720 0    1
Name: x_010720, dtype: int8
x_011001 0    1
Name: x_011001, dtype: int8
x_011110 0    1
Name: x_011110, dtype: int8
x_011201 0    1
Name: x_011201, dtype: int8
x_011330 0    1
Name: x_011330, dtype: int8
x_011401 0    1
Name: x_011401, dtype: int8
x_011541 0    1
Name: x_011541, dtype: int8
x_011611 0    1
Name: x_011611, dtype: int8
x_011730 0    1
Name: x_011730, dtype: int8
x_012001 0    1
Name: x_012001, dtype: int8
x_012120 0    1
Name: x_012120, dtype: int8
x_012231 0    1
Name: x_012231, dtype: int8
x_012341 0    1
Name: x_012341, dtype: int8
x_012430 0    1
Name: x_012430, dtype: int8
x_012530 0    1
Name: x_012530, dtype: int8
x_012641 0    1
Name: x_012641, dtype: int8
x_012730 0    1
Name: x_012730, dtype: int8
x_013031 0    1
Name: x_013031, dtype: int8
x_013111 0    1
Name: x_013111, dtype: int8
x_013220 0    1
Name: x_013220, dtype: int8
x_013331 0    1
Name: x_013331, dtype: int8
x_013411 0    1
Name: x_013411, dtype: int8
x_013501 0    1
Name: x_013501, dtype: int8
x_013621 0    1
Name: x_013621, dtype: int8
x_013721 0    1
Name: x_013721, dtype: int8
x_014020 0    1
Name: x_014020, dtype: int8
x_014110 0    1
Name: x_014110, dtype: int8
x_014241 0    1
Name: x_014241, dtype: int8
x_014320 0    1
Name: x_014320, dtype: int8
x_014400 0    1
Name: x_014400, dtype: int8
x_014500 0    1
Name: x_014500, dtype: int8
x_014610 0    1
Name: x_014610, dtype: int8
x_014721 0    1
Name: x_014721, dtype: int8
x_015010 0    1
Name: x_015010, dtype: int8
x_015120 0    1
Name: x_015120, dtype: int8
x_015230 0    1
Name: x_015230, dtype: int8
x_015310 0    1
Name: x_015310, dtype: int8
x_015430 0    1
Name: x_015430, dtype: int8
x_015510 0    1
Name: x_015510, dtype: int8
x_015620 0    1
Name: x_015620, dtype: int8
x_015721 0    1
Name: x_015721, dtype: int8
x_100020 0    1
Name: x_100020, dtype: int8
x_100110 0    1
Name: x_100110, dtype: int8
x_100230 0    1
Name: x_100230, dtype: int8
x_100301 0    1
Name: x_100301, dtype: int8
x_100431 0    1
Name: x_100431, dtype: int8
x_100520 0    1
Name: x_100520, dtype: int8
x_100600 0    1
Name: x_100600, dtype: int8
x_100700 0    1
Name: x_100700, dtype: int8
x_101000 0    1
Name: x_101000, dtype: int8
x_101121 0    1
Name: x_101121, dtype: int8
x_101201 0    1
Name: x_101201, dtype: int8
x_101330 0    1
Name: x_101330, dtype: int8
x_101400 0    1
Name: x_101400, dtype: int8
x_101530 0    1
Name: x_101530, dtype: int8
x_101611 0    1
Name: x_101611, dtype: int8
x_101710 0    1
Name: x_101710, dtype: int8
x_102000 0    1
Name: x_102000, dtype: int8
x_102100 0    1
Name: x_102100, dtype: int8
x_102201 0    1
Name: x_102201, dtype: int8
x_102310 0    1
Name: x_102310, dtype: int8
x_102400 0    1
Name: x_102400, dtype: int8
x_102500 0    1
Name: x_102500, dtype: int8
x_102600 0    1
Name: x_102600, dtype: int8
x_102711 0    1
Name: x_102711, dtype: int8
x_103030 0    1
Name: x_103030, dtype: int8
x_103101 0    1
Name: x_103101, dtype: int8
x_103231 0    1
Name: x_103231, dtype: int8
x_103311 0    1
Name: x_103311, dtype: int8
x_103400 0    1
Name: x_103400, dtype: int8
x_103530 0    1
Name: x_103530, dtype: int8
x_103621 0    1
Name: x_103621, dtype: int8
x_103711 0    1
Name: x_103711, dtype: int8
x_104000 0    1
Name: x_104000, dtype: int8
x_104111 0    1
Name: x_104111, dtype: int8
x_104230 0    1
Name: x_104230, dtype: int8
x_104321 0    1
Name: x_104321, dtype: int8
x_104410 0    1
Name: x_104410, dtype: int8
x_104530 0    1
Name: x_104530, dtype: int8
x_104611 0    1
Name: x_104611, dtype: int8
x_104711 0    1
Name: x_104711, dtype: int8
x_105000 0    1
Name: x_105000, dtype: int8
x_105110 0    1
Name: x_105110, dtype: int8
x_105201 0    1
Name: x_105201, dtype: int8
x_105320 0    1
Name: x_105320, dtype: int8
x_105401 0    1
Name: x_105401, dtype: int8
x_105521 0    1
Name: x_105521, dtype: int8
x_105620 0    1
Name: x_105620, dtype: int8
x_105721 0    1
Name: x_105721, dtype: int8
x_110020 0    1
Name: x_110020, dtype: int8
x_110110 0    1
Name: x_110110, dtype: int8
x_110221 0    1
Name: x_110221, dtype: int8
x_110321 0    1
Name: x_110321, dtype: int8
x_110421 0    1
Name: x_110421, dtype: int8
x_110530 0    1
Name: x_110530, dtype: int8
x_110631 0    1
Name: x_110631, dtype: int8
x_110700 0    1
Name: x_110700, dtype: int8
x_111011 0    1
Name: x_111011, dtype: int8
x_111101 0    1
Name: x_111101, dtype: int8
x_111221 0    1
Name: x_111221, dtype: int8
x_111341 0    1
Name: x_111341, dtype: int8
x_111411 0    1
Name: x_111411, dtype: int8
x_111531 0    1
Name: x_111531, dtype: int8
x_111621 0    1
Name: x_111621, dtype: int8
x_111711 0    1
Name: x_111711, dtype: int8
x_112040 0    1
Name: x_112040, dtype: int8
x_112101 0    1
Name: x_112101, dtype: int8
x_112210 0    1
Name: x_112210, dtype: int8
x_112321 0    1
Name: x_112321, dtype: int8
x_112411 0    1
Name: x_112411, dtype: int8
x_112500 0    1
Name: x_112500, dtype: int8
x_112621 0    1
Name: x_112621, dtype: int8
x_112700 0    1
Name: x_112700, dtype: int8
x_113021 0    1
Name: x_113021, dtype: int8
x_113140 0    1
Name: x_113140, dtype: int8
x_113200 0    1
Name: x_113200, dtype: int8
x_113320 0    1
Name: x_113320, dtype: int8
x_113430 0    1
Name: x_113430, dtype: int8
x_113521 0    1
Name: x_113521, dtype: int8
x_113611 0    1
Name: x_113611, dtype: int8
x_113701 0    1
Name: x_113701, dtype: int8
x_114001 0    1
Name: x_114001, dtype: int8
x_114100 0    1
Name: x_114100, dtype: int8
x_114230 0    1
Name: x_114230, dtype: int8
x_114300 0    1
Name: x_114300, dtype: int8
x_114410 0    1
Name: x_114410, dtype: int8
x_114531 0    1
Name: x_114531, dtype: int8
x_114600 0    1
Name: x_114600, dtype: int8
x_114711 0    1
Name: x_114711, dtype: int8
x_115000 0    1
Name: x_115000, dtype: int8
x_115110 0    1
Name: x_115110, dtype: int8
x_115220 0    1
Name: x_115220, dtype: int8
x_115300 0    1
Name: x_115300, dtype: int8
x_115411 0    1
Name: x_115411, dtype: int8
x_115520 0    1
Name: x_115520, dtype: int8
x_115630 0    1
Name: x_115630, dtype: int8
x_115731 0    1
Name: x_115731, dtype: int8