Введем бинарные переменные $x_{gwdtps} \in \{0,1\}$, где:

1. g -- group {1,2}
2. w -- week {1,2}
3. d -- day {1,2,3,4,5,6}
4. t -- time {1, 2, 3, 4, 5, 6, 7, 8}
5. p -- professor {1, 2, 3, 4, 5}
6. s -- subject {1, 2}

То есть $x_{124122} = 1$ означает, что у первой группы, во вторую неделю, в четверг, первой парой ведет второй преподаватель (Петров), его второй предмет (сложность квантовых алгоритмов). Запишем ограничения в терминах мат программирования:
1. Предпочения преподавателей по дням в которые они работать не могут:
   $$ x_{gw3t1s} = 0, \,\,\, \forall g, w, t, s$$
   $$ x_{gw1t2s} = 0, \,\,\, \forall g, w, t, s$$
   $$ x_{gw6t3s} = 0, \,\,\, \forall g, w, t, s$$
   $$ x_{gw2t4s} = 0, \,\,\, \forall g, w, t, s$$
   $$ x_{gw2t5s} = 0, \,\,\, \forall g, w, t, s$$

2. Для каждой группы и каждого предмента должно быть выделено 4 часа за две недели:

   $$\sum\limits_{w,d,t,p} x_{gwdtps}= 4, \,\,\, \forall g, s$$

3. У группы не более одной пары в час:

   $$ \sum\limits_{p,s} x_{gwdtps} \leq 1, \,\,\, \forall g, w, d, t$$

4. У преподавателя не более одной пары в час:

   $$ \sum\limits_{g,s} x_{gwdtps} \leq 1, \,\,\, \forall p, w, d, t$$

5. У группы не более двух пар в день по предмету:

   $$ \sum\limits_{t, p} x_{gwdtps} \leq 2, \,\,\, \forall g, w, d,s$$

6. У группы не более 6 пар в день:

   $$ \sum\limits_{t, p, s} x_{gwdtps} \leq 6, \,\,\, \forall w, d, g$$

7. Не более 20 часов в неделю для преподавателя:

   $$ \sum\limits_{d,t,g,s} x_{gwdtps} \leq 20, \,\,\, \forall p,w$$


Теперь запишем вклад в целевую функцию для каждого ограничения:

1. Влады для целевой функции примут вид, соответственно:
   $$ A_{11}x_{gw3t1s}^2, \,\,\, \forall g, w, t, s$$
   $$ A_{12}x_{gw1t2s}^2, \,\,\, \forall g, w, t, s$$
   $$ A_{13}x_{gw6t3s}^2, \,\,\, \forall g, w, t, s$$
   $$ A_{14}x_{gw2t4s}^2, \,\,\, \forall g, w, t, s$$
   $$ A_{15}x_{gw2t5s}^2, \,\,\, \forall g, w, t, s$$
   где $A_{1j}$ -- некоторый вес вклада для первого ограчения и для $j$ ого преподавателя

2.  Для второго ограничения имеем:

    $$A_{2}(\sum\limits_{w,d,t,p} x_{gwdtps} - 4)^2, \,\,\, \forall g, s$$

    где $A_{2}$ -- вес второго требования (его можно положить одинаковым для всех вторых требований, так как они равнозначны)

3.  Для данного неравенства можно не вводить дополнительных переменных, а записать функцию следующим образом:

    $$ A_{3}((\sum\limits_{p,s} x_{gwdtps})^2 - \sum\limits_{p,s} x_{gwdtps}^2), \,\,\, \forall g, w, d, t$$

    нетрудно проверить, что данная функция неотрицательная и равна нулю, тогда и только тогда, когда среди $x_{gwdtps}$ не более одной единицы. $A_{3}$ -- вес третьего ограничения (его можно положить одинаковым для всех вторых требований, так как они равнозначны).

4. Для четвертого требования, все аналогично третьему:

   $$ A_{4}((\sum\limits_{g,s} x_{gwdtps})^2 - \sum\limits_{g,s} x_{gwdtps}^2), \,\,\, \forall p, w, d, t$$

5. Для пятого требования, чтобы преобразовать его к равенству, введем фиктивные переменные $y_{1gwds}$ и $y_{2gwds}$, тогда имеем:
    
   $$ A_{5}(\sum\limits_{t, p} x_{gwdtps} +  y_{1gwds} + y_{2gwds} - 2)^2, \,\,\, \forall g, w, d,s$$

   Функция неотрицательна. Фиктивные переменные могут принимать значения $y_{1gwds}$ и $y_{2gwds}$ равные: $\{(0,0)\}$ или $\{(1,0), (0,1)\}$ или $\{(1,1)\}$. И, благодаря данным переменным, функция равна нулю, тогда и только тогда, когда при данных значениях фиктивных переменных сумма целевых переменных равна $2$, $1$ и $0$ соответственно.

6. Аналогично вводим фиктивные переменные $z_{1wdg}, z_{2wdg}, z_{3wdg}$ для шестого ограничения и имеем функцию

   $$ A_{6}(\sum\limits_{t, p, s} x_{gwdtps} + z_{1wdg} + 2z_{2wdg} + 3z_{3wdg} - 6)^2, \,\,\, \forall w, d, g$$

   Фиктивные переменные здесь работают аналогично пятому требованию.

7. Для седьмого аналогично двум предыдущим вводим переменные $v_{1pw}, v_{2pw}, v_{3pw}, v_{4pw}, v_{5pw}$:

   $$ A_{7}(\sum\limits_{d,t,g,s} x_{gwdtps} + v_{1pw} + 2v_{2pw} + 2v_{3pw} + 5v_{4pw} + 10v_{5pw} -  20)^2, \,\,\, \forall p,w$$

Тогда с учетом вышесказанного, целевая функция имеет вид:

$$J(x, y, z, v) = A_{11}\sum\limits_{g, w, t, s} x_{gw3t1s}^2 + A_{12}\sum\limits_{g, w, t, s}x_{gw1t2s}^2 +  A_{13}\sum\limits_{g, w, t, s}x_{gw6t3s}^2 + A_{14}\sum\limits_{g, w, t, s}x_{gw2t4s}^2 + A_{15}\sum\limits_{g, w, t, s}x_{gw2t5s}^2 + $$
$$+ A_{2}\sum\limits_{g, s}(\sum\limits_{w,d,t,p} x_{gwdtps} - 4)^2 + A_{3}\sum\limits_{g, w, d, t}((\sum\limits_{p,s} x_{gwdtps})^2 - \sum\limits_{p,s} x_{gwdtps}^2) + A_{4}\sum\limits_{ p, w, d, t}((\sum\limits_{g,s} x_{gwdtps})^2 - \sum\limits_{g,s} x_{gwdtps}^2) +$$
$$+ A_{5}\sum\limits_{g, w, d, s}(\sum\limits_{t, p} x_{gwdtps} +  y_{1gwds} + y_{2gwds} - 2)^2  + A_{6}\sum\limits_{w, d, g}(\sum\limits_{t, p, s} x_{gwdtps} + z_{1wdg} + 2z_{2wdg} + 3z_{3wdg} - 6)^2 + $$
$$ + A_{7}\sum\limits_{p,w}(\sum\limits_{d,t,g,s} x_{gwdtps} + v_{1pw} + 2v_{2pw} + 2v_{3pw} + 5v_{4pw} + 10v_{5pw} -  20)^2$$

Данная целевая функция неотрицательна и принимает значение 0, есть глобальный минимум, тогда и только тогда, когда целевые переменные удовлетворяют всем ограничениям. Следовательно найдя точку минимума данной функции мы отыщем решение.

Для данной функции соответствующая квадратичная форма для QUBO формулировки имеет вид:


$$Q(x_{g_{1}w_{1}d_{1}t_{1}p_{1}s_{1}}, x_{g_{2}w_{2}d_{2}t_{2}p_{2}s_{2}}) = \delta_{g_{1}g_{2}}\delta_{w_{1}w_{2}}\delta_{d_{1}d_{2}}\delta_{t_{1}t_{2}}\delta_{p_{1}p_{2}}\delta_{s_{1}s_{2}}(-7 A_2 - 3 A_5 - 11 A_6 - 39 A_7 + A_{11} \delta_{3d_{1}} \delta_{1p_{1}} + A_{12} \delta_{1d_{1}} \delta_{2p_{1}} + A_{13} \delta_{6d_{1}} \delta_{3p_{1}} + A_{14} \delta_{2d_{1}} \delta_{4p_{1}} + A_{15} \delta_{2d_{1}} \delta_{5p_{1}}) +
$$
$$+ (1 - \delta_{g_{1}g_{2}}\delta_{w_{1}w_{2}}\delta_{d_{1}d_{2}}\delta_{t_{1}t_{2}}\delta_{p_{1}p_{2}}\delta_{s_{1}s_{2}})\delta_{w_{1}w_{2}}\delta_{d_{1}d_{2}}\delta_{t_{1}t_{2}}(A_{3}\delta_{g_{1}g_{2}} + A_{4}\delta_{p_{1}p_{2}})$$

$$Q(y_{k_{1}g_{1}w_{1}d_{1}s_{1}}, y_{k_{2}g_{2}w_{2}d_{2}s_{2}}) = \delta_{k_{1}k_{2}}\delta_{g_{1}g_{2}}\delta_{d_{1}d_{2}}\delta_{s_{1}s_{2}}(-3)A_{5} + (1 - \delta_{k_{1}k_{2}}\delta_{g_{1}g_{2}}\delta_{d_{1}d_{2}}\delta_{s_{1}s_{2}}) \delta_{g_{1}g_{2}}\delta_{w_{1}w_{2}}\delta_{d_{1}d_{2}}\delta_{s_{1}s_{2}}A_{5}$$

$$Q(z_{k_{1}w_{1}d_{1}g_{1}}, z_{k_{2}w_{2}d_{2}g_{2}}) = \delta_{k_{1}k_{2}}\delta_{w_{1}w_{2}}\delta_{d_{1}d_{2}}\delta_{g_{1}g_{2}}(\delta_{1k_{1}} (-11) + \delta_{2k_{1}} (-20) + \delta_{3k_{1}}(-27))A_{6} +$$
$$+ (1 - \delta_{k_{1}k_{2}}\delta_{w_{1}w_{2}}\delta_{d_{1}d_{2}}\delta_{g_{1}g_{2}})(\delta_{1k_{1}}\delta_{2k_{2}} 2 + \delta_{1k_{1}}\delta_{3k_{2}} 3 + \delta_{2k_{1}}\delta_{3k_{2}}6)A_{6}$$

$$Q(v_{k_{1}p_{1}w_{1}}, v_{k_{2}p_{2}w_{2}}) = \delta_{k_{1}k_{2}}\delta_{p_{1}p_{2}}\delta_{w_{1}w_{2}}(\delta_{1k_{1}} (-39) + \delta_{2k_{1}} (-76)) + \delta_{3k_{1}}(-76) + \delta_{4k_{1}} (-175) + \delta_{5k_{1}} (-300))A_{7} + $$
$$ + (1 - \delta_{k_{1}k_{2}}\delta_{p_{1}p_{2}}\delta_{w_{1}w_{2}})(\delta_{1k_{1}}\delta_{2k_{2}}2 + \delta_{1k_{1}}\delta_{3k_{2}} 2 + \delta_{1k_{1}}\delta_{4k_{2}} 5 + \delta_{1k_{1}}\delta_{5k_{2}} 10 + \delta_{2k_{1}}\delta_{3k_{2}} 4 + \delta_{2k_{1}}\delta_{4k_{2}} 10 + \delta_{2k_{1}}\delta_{5k_{2}} 20 + \delta_{3k_{1}}\delta_{4k_{2}} 10 + \delta_{3k_{1}}\delta_{5k_{2}} 20 + \delta_{4k_{1}}\delta_{5k_{2}} 100)A_{7}$$


$$ Q(x_{g_{1}w_{1}d_{1}t_{1}p_{1}s_{1}}, y_{k_{2}w_{2}d_{2}g_{2}s_{2}}) =  Q(y_{k_{2}w_{2}d_{2}g_{2}s_{2}}, x_{g_{1}w_{1}d_{1}t_{1}p_{1}s_{1}}) = \delta_{g_{1}g_{2}}\delta_{w_{1}w_{2}}\delta_{d_{1}d_{2}}\delta_{s_{1}s_{2}}A_{5}$$

$$Q(x_{g_{1}w_{1}d_{1}t_{1}p_{1}s_{1}}, z_{k_{2}w_{2}d_{2}g_{2}s_{2}}) = Q(z_{k_{2}w_{2}d_{2}g_{2}s_{2}}, x_{g_{1}w_{1}d_{1}t_{1}p_{1}s_{1}}) = \delta_{p_{1}p_{2}}\delta_{w_{1}w_{2}}(\delta_{1k_{2}} + \delta_{2k_{2}} 2 + \delta_{3k_{2}}6)A_{6}$$

$$Q(x_{g_{1}w_{1}d_{1}t_{1}p_{1}s_{1}}, v_{k_{2}p_{2}w_{2}}) = Q(v_{k_{2}p_{2}w_{2}}, x_{g_{1}w_{1}d_{1}t_{1}p_{1}s_{1}}) = \delta_{p_{1}p_{2}}\delta_{w_{1}w_{2}}(\delta_{1k_{2}} + \delta_{2k_{2}}2 + \delta_{3k_{2}}2 + \delta_{4k_{2}}5 + \delta_{5k_{2}}10) A_{7}$$

In [34]:
def delta(x, y): #дельта символ кронекера
    return x == y

In [35]:
K = 2 #количество групп
W = 2 #количество недель
D = 6 #количество дней
T = 8 #временные слоты
N = 5 #количество преподавателей
M = 2 #количество предметов (для каждого из преподавателей)

#веса
A_11 = 1
A_12 = 1
A_13 = 1
A_14 = 1
A_15 = 1
A_2 = 1
A_3 = 2 ** 12 # без данных требований расписание не имеет смысла
A_4 = 2 ** 12 #
A_5 = 1
A_6 = 1
A_7 = 1

In [36]:
from itertools import product

Q = {}  # словарь, хранящий нашу форму в формате (x, y): коэффициент при xy

In [37]:
# Заполняем целевые элементы с целевыми x
for (g_1, w_1, d_1, t_1, p_1, s_1), (g_2, w_2, d_2, t_2, p_2, s_2) in product(
    product(range(K), range(W), range(D), range(T), range(N), range(M)),
    repeat=2
):
    x_1 = f'x_{g_1}{w_1}{d_1}{t_1}{p_1}{s_1}'  # перебираем первую переменную
    x_2 = f'x_{g_2}{w_2}{d_2}{t_2}{p_2}{s_2}'  # перебираем вторую переменную

    val = delta(g_1, g_2) * delta(w_1, w_2) * delta(d_1, d_2) * delta(t_1, t_2) * delta(p_1, p_2) * delta(s_1, s_2) * (
        -7 * A_2 - 3 * A_5 - 11 * A_6 - 39 * A_7 + 
        A_11 * delta(3, d_1) * delta(1, p_1) + 
        A_12 * delta(1, d_1) * delta(2, p_1) + 
        A_13 * delta(6, d_1) * delta(3, p_1) + 
        A_14 * delta(2, d_1) * delta(4, p_1) + 
        A_15 * delta(2, d_1) * delta(5, p_1)
    ) + (
        1 - delta(g_1, g_2) * delta(w_1, w_2) * delta(d_1, d_2) * delta(t_1, t_2) * delta(p_1, p_2) * delta(s_1, s_2)
    ) * delta(w_1, w_2) * delta(d_1, d_2) * delta(t_1, t_2) * (
        A_3 * delta(g_1, g_2) + A_4 * delta(p_1, p_2)
    )
    
    if val != 0:
        if x_1 > x_2:
            Q[(x_1, x_2)] = val
        else:
            Q[(x_2, x_1)] = val

In [38]:
# Заполняем фиктивые y с фиктивными y
for (k_1, g_1, w_1, d_1, s_1), (k_2, g_2, w_2, d_2, s_2) in product(
    product(range(2), range(K), range(W), range(D), range(M)),
    repeat=2
):
    y_1 = f'y_{k_1}{g_1}{w_1}{d_1}{s_1}'  # перебираем первую переменную
    y_2 = f'y_{k_2}{g_2}{w_2}{d_2}{s_2}'  # перебираем вторую переменную

    val = delta(k_1, k_2) * delta(g_1, g_2) * delta(d_1, d_2) * delta(s_1, s_2) * (-3) * A_5 + \
          (1 - delta(k_1, k_2) * delta(g_1, g_2) * delta(d_1, d_2) * delta(s_1, s_2)) * \
          delta(g_1, g_2) * delta(w_1, w_2) * delta(d_1, d_2) * delta(s_1, s_2) * A_5

    if val != 0:
        if y_1 > y_2:
            Q[(y_1, y_2)] = val
        else:
            Q[(y_2, y_1)] = val

In [39]:
# Заполняем фиктивные z с фиктивными z
for (k_1, w_1, d_1, g_1), (k_2, w_2, d_2, g_2) in product(
    product(range(3), range(W), range(D), range(K)),
    repeat=2
):
    z_1 = f'z_{k_1}{w_1}{d_1}{g_1}'  # перебираем первую переменную
    z_2 = f'z_{k_2}{w_2}{d_2}{g_2}'  # перебираем вторую переменную

    val = delta(k_1, k_2) * delta(w_1, w_2) * delta(d_1, d_2) * delta(g_1, g_2) * (
        delta(1, k_1) * (-11) + delta(2, k_1) * (-20) + delta(3, k_1) * (-27)
    ) * A_6 + (
        1 - delta(k_1, k_2) * delta(w_1, w_2) * delta(d_1, d_2) * delta(g_1, g_2)
    ) * (
        delta(1, k_1) * delta(2, k_2) * 2 + delta(1, k_1) * delta(3, k_2) * 3 + delta(2, k_1) * delta(3, k_2) * 6
    ) * A_6

    if val != 0:
        if z_1 > z_2:
            Q[(z_1, z_2)] = val
        else:
            Q[(z_2, z_1)] = val

In [40]:
# Заполняем фиктивные v с фиктивными v
for (k_1, p_1, w_1), (k_2, p_2, w_2) in product(
    product(range(5), range(N), range(W)),
    repeat=2
):
    v_1 = f'v_{k_1}{p_1}{w_1}'  # перебираем первую переменную
    v_2 = f'v_{k_2}{p_2}{w_2}'  # перебираем вторую переменную

    val = delta(k_1, k_2) * delta(p_1, p_2) * delta(w_1, w_2) * (
        delta(1, k_1) * (-39) + delta(2, k_1) * (-76) + delta(3, k_1) * (-76) + delta(4, k_1) * (-175) + delta(5, k_1) * (-300)
    ) * A_7 + (
        1 - delta(k_1, k_2) * delta(p_1, p_2) * delta(w_1, w_2)
    ) * (
        delta(1, k_1) * delta(2, k_2) * 2 + delta(1, k_1) * delta(3, k_2) * 2 + delta(1, k_1) * delta(4, k_2) * 5 + delta(1, k_1) * delta(5, k_2) * 10 +
        delta(2, k_1) * delta(3, k_2) * 4 + delta(2, k_1) * delta(4, k_2) * 10 + delta(2, k_1) * delta(5, k_2) * 20 +
        delta(3, k_1) * delta(4, k_2) * 10 + delta(1, k_1) * delta(5, k_2) * 20 + delta(4, k_1) * delta(5, k_2) * 100
    ) * A_7

    if val != 0:
        if v_1 > v_2:
            Q[(v_1, v_2)] = val
        else:
            Q[(v_2, v_1)] = val

In [41]:
# Заполняем целевые элементы x с фиктвными y
for (g_1, w_1, d_1, t_1, p_1, s_1), (k_2, w_2, d_2, g_2, s_2) in product(
    product(range(K), range(W), range(D), range(T), range(N), range(M)),
    product(range(2), range(W), range(D), range(K), range(M))
):
    x_1 = f'x_{g_1}{w_1}{d_1}{t_1}{p_1}{s_1}'  # перебираем первую переменную
    y_2 = f'y_{k_2}{w_2}{d_2}{g_2}{s_2}'  # перебираем вторую переменную

    val = delta(g_1, g_2) * delta(w_1, w_2) * delta(d_1, d_2) * delta(s_1, s_2) * A_5

    if val != 0:
        Q[(x_1, y_2)] = val

In [42]:
# Заполняем целевые элементы x с фиктивными z
for (g_1, w_1, d_1, t_1, p_1, s_1), (k_2, w_2, d_2, g_2, s_2) in product(
    product(range(K), range(W), range(D), range(T), range(N), range(M)),
    product(range(3), range(W), range(D), range(K), range(M))
):
    x_1 = f'x_{g_1}{w_1}{d_1}{t_1}{p_1}{s_1}'  # перебираем первую переменную
    z_2 = f'z_{k_2}{w_2}{d_2}{g_2}{s_2}'  # перебираем вторую переменную

    val = delta(p_1, p_2) * delta(w_1, w_2) * (
        delta(1, k_2) + delta(2, k_2) * 2 + delta(3, k_2) * 6
    ) * A_6

    if val != 0:
        Q[(x_1, z_2)] = val

In [43]:
# Заполняем целевые элементы x с фиктивными v
for (g_1, w_1, d_1, t_1, p_1, s_1), (k_2, p_2, w_2) in product(
    product(range(K), range(W), range(D), range(T), range(N), range(M)),
    product(range(5), range(N), range(W))
):
    x_1 = f'x_{g_1}{w_1}{d_1}{t_1}{p_1}{s_1}'  # перебираем первую переменную
    v_2 = f'v_{k_2}{p_2}{w_2}'  # перебираем вторую переменную

    val = delta(p_1, p_2) * delta(w_1, w_2) * (
        delta(1, k_2) + delta(2, k_2) * 2 + delta(3, k_2) * 2 + delta(4, k_2) * 5 + delta(5, k_2) * 10
    ) * A_7

    if val != 0:
        Q[(x_1, v_2)] = val

In [52]:
import neal #создаем модель изинга из QUBO задачи
sampler = neal.SimulatedAnnealingSampler()


h = {0: 0, 1: 1}
sampleset = sampler.sample_qubo(Q) #ответ

In [53]:
import pandas as pd

df = sampleset.to_pandas_dataframe()

In [54]:
df

,v_100,v_101,v_110,v_111,v_120,v_121,v_130,v_131,v_140,v_141,...,z_21410,z_21411,z_2150,z_21500,z_21501,z_2151,z_21510,z_21511,energy,num_occurrences
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,-13040.0,1

Получаем, не очень точный ответ, в частности довольно много значений где у одной группы несколько пар в одно время. Возможные причины либо в том, что задача не имеет решения, либо в том, что эмулятор модели Изинга недосаточно хорошо вычисляет точку минимума (возможно и я где то ошибся).

In [58]:
for col in df:
    if col[0] == 'x' and df[col][0] == 1:
        print(col, df[col])

x_000030 0    1
Name: x_000030, dtype: int8
x_000130 0    1
Name: x_000130, dtype: int8
x_000231 0    1
Name: x_000231, dtype: int8
x_000311 0    1
Name: x_000311, dtype: int8
x_000400 0    1
Name: x_000400, dtype: int8
x_000500 0    1
Name: x_000500, dtype: int8
x_000620 0    1
Name: x_000620, dtype: int8
x_000711 0    1
Name: x_000711, dtype: int8
x_001001 0    1
Name: x_001001, dtype: int8
x_001130 0    1
Name: x_001130, dtype: int8
x_001221 0    1
Name: x_001221, dtype: int8
x_001320 0    1
Name: x_001320, dtype: int8
x_001430 0    1
Name: x_001430, dtype: int8
x_001500 0    1
Name: x_001500, dtype: int8
x_001610 0    1
Name: x_001610, dtype: int8
x_001701 0    1
Name: x_001701, dtype: int8
x_002031 0    1
Name: x_002031, dtype: int8
x_002101 0    1
Name: x_002101, dtype: int8
x_002230 0    1
Name: x_002230, dtype: int8
x_002310 0    1
Name: x_002310, dtype: int8
x_002400 0    1
Name: x_002400, dtype: int8
x_002500 0    1
Name: x_002500, dtype: int8
x_002600 0    1
Name: x_002600, dtype: int8
x_002700 0    1
Name: x_002700, dtype: int8
x_003031 0    1
Name: x_003031, dtype: int8
x_003101 0    1
Name: x_003101, dtype: int8
x_003200 0    1
Name: x_003200, dtype: int8
x_003311 0    1
Name: x_003311, dtype: int8
x_003411 0    1
Name: x_003411, dtype: int8
x_003501 0    1
Name: x_003501, dtype: int8
x_003630 0    1
Name: x_003630, dtype: int8
x_003730 0    1
Name: x_003730, dtype: int8
x_004031 0    1
Name: x_004031, dtype: int8
x_004121 0    1
Name: x_004121, dtype: int8
x_004201 0    1
Name: x_004201, dtype: int8
x_004300 0    1
Name: x_004300, dtype: int8
x_004401 0    1
Name: x_004401, dtype: int8
x_004500 0    1
Name: x_004500, dtype: int8
x_004610 0    1
Name: x_004610, dtype: int8
x_004720 0    1
Name: x_004720, dtype: int8
x_005020 0    1
Name: x_005020, dtype: int8
x_005131 0    1
Name: x_005131, dtype: int8
x_005211 0    1
Name: x_005211, dtype: int8
x_005301 0    1
Name: x_005301, dtype: int8
x_005400 0    1
Name: x_005400, dtype: int8
x_005501 0    1
Name: x_005501, dtype: int8
x_005610 0    1
Name: x_005610, dtype: int8
x_005731 0    1
Name: x_005731, dtype: int8
x_010011 0    1
Name: x_010011, dtype: int8
x_010131 0    1
Name: x_010131, dtype: int8
x_010221 0    1
Name: x_010221, dtype: int8
x_010310 0    1
Name: x_010310, dtype: int8
x_010410 0    1
Name: x_010410, dtype: int8
x_010511 0    1
Name: x_010511, dtype: int8
x_010621 0    1
Name: x_010621, dtype: int8
x_010721 0    1
Name: x_010721, dtype: int8
x_011020 0    1
Name: x_011020, dtype: int8
x_011101 0    1
Name: x_011101, dtype: int8
x_011210 0    1
Name: x_011210, dtype: int8
x_011311 0    1
Name: x_011311, dtype: int8
x_011410 0    1
Name: x_011410, dtype: int8
x_011510 0    1
Name: x_011510, dtype: int8
x_011610 0    1
Name: x_011610, dtype: int8
x_011710 0    1
Name: x_011710, dtype: int8
x_012001 0    1
Name: x_012001, dtype: int8
x_012100 0    1
Name: x_012100, dtype: int8
x_012200 0    1
Name: x_012200, dtype: int8
x_012311 0    1
Name: x_012311, dtype: int8
x_012410 0    1
Name: x_012410, dtype: int8
x_012510 0    1
Name: x_012510, dtype: int8
x_012630 0    1
Name: x_012630, dtype: int8
x_012710 0    1
Name: x_012710, dtype: int8
x_013030 0    1
Name: x_013030, dtype: int8
x_013100 0    1
Name: x_013100, dtype: int8
x_013210 0    1
Name: x_013210, dtype: int8
x_013311 0    1
Name: x_013311, dtype: int8
x_013421 0    1
Name: x_013421, dtype: int8
x_013501 0    1
Name: x_013501, dtype: int8
x_013641 0    1
Name: x_013641, dtype: int8
x_013711 0    1
Name: x_013711, dtype: int8
x_014010 0    1
Name: x_014010, dtype: int8
x_014111 0    1
Name: x_014111, dtype: int8
x_014200 0    1
Name: x_014200, dtype: int8
x_014311 0    1
Name: x_014311, dtype: int8
x_014400 0    1
Name: x_014400, dtype: int8
x_014500 0    1
Name: x_014500, dtype: int8
x_014621 0    1
Name: x_014621, dtype: int8
x_014721 0    1
Name: x_014721, dtype: int8
x_015000 0    1
Name: x_015000, dtype: int8
x_015110 0    1
Name: x_015110, dtype: int8
x_015231 0    1
Name: x_015231, dtype: int8
x_015331 0    1
Name: x_015331, dtype: int8
x_015401 0    1
Name: x_015401, dtype: int8
x_015500 0    1
Name: x_015500, dtype: int8
x_015630 0    1
Name: x_015630, dtype: int8
x_015730 0    1
Name: x_015730, dtype: int8
x_100000 0    1
Name: x_100000, dtype: int8
x_100111 0    1
Name: x_100111, dtype: int8
x_100210 0    1
Name: x_100210, dtype: int8
x_100320 0    1
Name: x_100320, dtype: int8
x_100431 0    1
Name: x_100431, dtype: int8
x_100521 0    1
Name: x_100521, dtype: int8
x_100601 0    1
Name: x_100601, dtype: int8
x_100720 0    1
Name: x_100720, dtype: int8
x_101021 0    1
Name: x_101021, dtype: int8
x_101101 0    1
Name: x_101101, dtype: int8
x_101200 0    1
Name: x_101200, dtype: int8
x_101330 0    1
Name: x_101330, dtype: int8
x_101421 0    1
Name: x_101421, dtype: int8
x_101530 0    1
Name: x_101530, dtype: int8
x_101600 0    1
Name: x_101600, dtype: int8
x_101710 0    1
Name: x_101710, dtype: int8
x_102001 0    1
Name: x_102001, dtype: int8
x_102121 0    1
Name: x_102121, dtype: int8
x_102220 0    1
Name: x_102220, dtype: int8
x_102300 0    1
Name: x_102300, dtype: int8
x_102410 0    1
Name: x_102410, dtype: int8
x_102530 0    1
Name: x_102530, dtype: int8
x_102630 0    1
Name: x_102630, dtype: int8
x_102721 0    1
Name: x_102721, dtype: int8
x_103010 0    1
Name: x_103010, dtype: int8
x_103121 0    1
Name: x_103121, dtype: int8
x_103211 0    1
Name: x_103211, dtype: int8
x_103330 0    1
Name: x_103330, dtype: int8
x_103430 0    1
Name: x_103430, dtype: int8
x_103521 0    1
Name: x_103521, dtype: int8
x_103610 0    1
Name: x_103610, dtype: int8
x_103700 0    1
Name: x_103700, dtype: int8
x_104010 0    1
Name: x_104010, dtype: int8
x_104100 0    1
Name: x_104100, dtype: int8
x_104231 0    1
Name: x_104231, dtype: int8
x_104330 0    1
Name: x_104330, dtype: int8
x_104420 0    1
Name: x_104420, dtype: int8
x_104530 0    1
Name: x_104530, dtype: int8
x_104631 0    1
Name: x_104631, dtype: int8
x_104710 0    1
Name: x_104710, dtype: int8
x_105001 0    1
Name: x_105001, dtype: int8
x_105120 0    1
Name: x_105120, dtype: int8
x_105201 0    1
Name: x_105201, dtype: int8
x_105330 0    1
Name: x_105330, dtype: int8
x_105430 0    1
Name: x_105430, dtype: int8
x_105531 0    1
Name: x_105531, dtype: int8
x_105600 0    1
Name: x_105600, dtype: int8
x_105700 0    1
Name: x_105700, dtype: int8
x_110021 0    1
Name: x_110021, dtype: int8
x_110121 0    1
Name: x_110121, dtype: int8
x_110231 0    1
Name: x_110231, dtype: int8
x_110301 0    1
Name: x_110301, dtype: int8
x_110420 0    1
Name: x_110420, dtype: int8
x_110501 0    1
Name: x_110501, dtype: int8
x_110600 0    1
Name: x_110600, dtype: int8
x_110731 0    1
Name: x_110731, dtype: int8
x_111031 0    1
Name: x_111031, dtype: int8
x_111120 0    1
Name: x_111120, dtype: int8
x_111201 0    1
Name: x_111201, dtype: int8
x_111300 0    1
Name: x_111300, dtype: int8
x_111441 0    1
Name: x_111441, dtype: int8
x_111521 0    1
Name: x_111521, dtype: int8
x_111600 0    1
Name: x_111600, dtype: int8
x_111720 0    1
Name: x_111720, dtype: int8
x_112021 0    1
Name: x_112021, dtype: int8
x_112121 0    1
Name: x_112121, dtype: int8
x_112210 0    1
Name: x_112210, dtype: int8
x_112320 0    1
Name: x_112320, dtype: int8
x_112400 0    1
Name: x_112400, dtype: int8
x_112501 0    1
Name: x_112501, dtype: int8
x_112611 0    1
Name: x_112611, dtype: int8
x_112720 0    1
Name: x_112720, dtype: int8
x_113010 0    1
Name: x_113010, dtype: int8
x_113131 0    1
Name: x_113131, dtype: int8
x_113221 0    1
Name: x_113221, dtype: int8
x_113330 0    1
Name: x_113330, dtype: int8
x_113411 0    1
Name: x_113411, dtype: int8
x_113530 0    1
Name: x_113530, dtype: int8
x_113600 0    1
Name: x_113600, dtype: int8
x_113731 0    1
Name: x_113731, dtype: int8
x_114000 0    1
Name: x_114000, dtype: int8
x_114101 0    1
Name: x_114101, dtype: int8
x_114220 0    1
Name: x_114220, dtype: int8
x_114330 0    1
Name: x_114330, dtype: int8
x_114420 0    1
Name: x_114420, dtype: int8
x_114530 0    1
Name: x_114530, dtype: int8
x_114600 0    1
Name: x_114600, dtype: int8
x_114701 0    1
Name: x_114701, dtype: int8
x_115011 0    1
Name: x_115011, dtype: int8
x_115121 0    1
Name: x_115121, dtype: int8
x_115220 0    1
Name: x_115220, dtype: int8
x_115310 0    1
Name: x_115310, dtype: int8
x_115411 0    1
Name: x_115411, dtype: int8
x_115511 0    1
Name: x_115511, dtype: int8
x_115620 0    1
Name: x_115620, dtype: int8
x_115700 0    1
Name: x_115700, dtype: int8